/* styles.css */

:root {
  --bg-dark: #333;
  --text-dark: #fff;
  --bg-light: #fff;
  --text-light: #000;
}

/* Dark mode overrides */
.dark .rbc-toolbar button {
  background-color: var(--bg-dark) !important;
  color: var(--text-dark) !important;
}

.dark .rbc-toolbar button:focus,
.dark .rbc-toolbar button:hover {
  background-color: #444 !important;
  color: #ddd !important;
}
